@model IEnumerable<TrainingCenterLib.Entities.AvailableCours>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h2>Available Courses</h2>

<a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>

<table class="table active">
    <tr class="table-hover row-cols-md-auto">
        <th>
            @Html.DisplayNameFor(model => model.StartAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cours.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorAvailability.InstructorAvailabilityID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cours.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorAvailability.InstructorAvailabilityID)
            </td>
            <td>
                <a href="@Url.Action( "Edit", new { id = item.AvailableCourseID })" class="btn btn-primary" style="border-radius:10px"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="@Url.Action( "Details", new { id = item.AvailableCourseID })" class="btn btn-warning" style="border-radius:10px"><i class="fa-solid fa-circle-info"></i></a>
                <a href="@Url.Action( "Delete", new { id = item.AvailableCourseID })" class="btn btn-danger" style="border-radius:10px"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
    }

</table>

