@model TrainingCenterUI.Models.WaitingListViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout2.cshtml";
}



<h2>Add to Waiting List</h2>

@using (Html.BeginForm("Create", "WaitingList2", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.StudentID, "Student")
        @Html.DropDownListFor(model => model.StudentID, Model.Students, "Select a student", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StudentID)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AvailableCourseID, "Course")
        @Html.DropDownListFor(model => model.AvailableCourseID, Model.Courses, "Select a course", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AvailableCourseID)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GroupName, "Group Name")
        @Html.TextBoxFor(model => model.GroupName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.GroupName)
    </div>

    <div class="form-group">
        @Html.CheckBoxFor(model => model.IsPaid)
        @Html.LabelFor(model => model.IsPaid, "Paid")
        @Html.ValidationMessageFor(model => model.IsPaid)
    </div>

    <div class="form-group">
        @Html.CheckBoxFor(model => model.IsCash)
        @Html.LabelFor(model => model.IsCash, "Cash")
        @Html.ValidationMessageFor(model => model.IsCash)
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
}

<div>
    <br />
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

    <script>
    $(document).ready(function() {
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            alert(errorMessage);
        }
    });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
