@model IEnumerable<TrainingCenterLib.Entities.Instructor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h2>Instructors</h2>

<button type="button" class="btn btn-primary create-btn">@Html.ActionLink("Create New", "Create")</button>

<table class="table table-hover">
    <tr class="table-dark">
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HiringDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiringDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>

            <td>
                <a href="@Url.Action( "Edit", new { id = item.InstructorID })" class="btn btn-primary" style="border-radius:10px"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="@Url.Action( "Details", new { id = item.InstructorID })" class="btn btn-warning" style="border-radius:10px"><i class="fa-solid fa-circle-info"></i></a>
                <a href="@Url.Action( "Delete", new { id = item.InstructorID })" class="btn btn-danger" style="border-radius:10px"><i class="fa-solid fa-trash-can"></i></a>

            </td>
        </tr>
    }

</table>
