@model IEnumerable<TrainingCenterLib.Entities.InstructorAvailability>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h2>Instructors Schedules</h2>

<button type="button" class="btn btn-primary create-btn">@Html.ActionLink("Create New", "Create")</button>

<table class="table table-hover">
    <tr class="table-dark">
        <th>
            @Html.DisplayNameFor(model => model.IsGroupDays1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeSlot.TimeSlotID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsGroupDays1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSlot.TimeSlotID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.InstructorAvailabilityID }) |
                @Html.ActionLink("Details", "Details", new { id = item.InstructorAvailabilityID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.InstructorAvailabilityID })
            </td>
        </tr>
    }

</table>
